.background {
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: show;
  z-index: -100;
  background-image: url("../assets/images/boltsScrews.jpg");
}
#whiteCanvass {
  background-image: url(/static/media/boltsScrews.a85f6c31.jpg);
  position: relative;
  height: 44em;
  color: white;
  width: 100%;
}
h3{
  border: 1em;
  margin: 0em;
  width: 10em;
  position: relative;
  left: 10em;
  top: 10%;
}
p {
  z-index: 1;
}
/* h1 {
  position: relative;
  top: -22em;
  left: 2em;
  color: white;
  box-shadow: -2em 7px red;
} */
html {
  height: 40em;
}
