.background {
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: show;
  z-index: -100;
  background-image: url("../assets/images/boltsScrews.jpg");
}
#whiteCanvass {
  background-image: url(/static/media/boltsScrews.a85f6c31.jpg);
  position: relative;
  height: 44em;
  color: white;
  width: 100%;
}
h3 {
  border: 1em;
  margin: 12% 0 0 12%;
  width: 50%;
  left: auto;
  top: 11%;
  float: left;
  display: block;
  font-size: 36px;
}
p {
  z-index: 1;
}

html {
  height: auto;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  h3 {
    border: 1em;
    margin: 0em 0 0 12%;
    width: 30%;
    position: relative;
    left: auto;
    top: 10%;
    float: left;
    display: block;
    font-size: 1.92rem;
  }
}
