.footer {
  min-height: 100px;
  background: #596690;
  position: fixed;
  bottom: -2%;
  width: 100%;
  color: aliceblue;
  margin: 0px;
}

.footer span {
  position: relative;
  bottom: -6px;
  left: 0;
  right: 0;
  padding: 19px;
  background: #1f5166;
  height: 50em;
  line-height: 73px;
  text-align: center;
  font-size: 12px;
  margin-left: 40%;
}
