.footer {
  min-height: 206px;
  background: #596690;
  position: fixed;
  bottom: -4%;
  width: 100%;
  color: aliceblue;
  margin: 0px;
}

.span1 {
  position: relative;
  display: block;
  height: 5%;
  width: 100%;
  background: #2a6076;
  text-align: center;
}

.span2 {
  position: absolute;
  display: block;
  height: 29%;
  width: 100%;
  background: #a4bac1;
  text-align: center;
  top: 28%;
}
