nav {
  color: #fff;
  background-color: #0a3f4b;
  width: 100%;
  height: 56px;
  line-height: 59px;
  height: 12%;
}

.spanExtra {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
  background: #596690;
  height: 1em;
  top: 4em;
}

a.listItems {
  color: red;
}

.buttonContainer {
  position: relative;
  top: -3%;
}
.btn,
.btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #2e7bb0;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.2s ease-out;
  cursor: pointer;
  position: relative;
  left: 1em;
}
